<body class="body-edit">
    
    <div class="background-container-edit">
   <div class="edit-hbs">
        <h1 class="edit-page-title">Edit your Historical Event!</h1>
              <form action="/events/{{ id }}/edit" method="POST" enctype="multipart/form-data" class="edit-form">
 
                 <label class="label-edit">Title</label>
                     <input type="text" name="title" value="{{ title }}">
                 <label class="label-edit">Date</label>
                     <input type="date" name="date" value="{{ date }}" >
                 <label class="label-edit">Location</label>
                     <input type="text" name="location" value="{{ location }}">
                 <label class="label-edit">Description</label>
                      <textarea name="description" rows="5">{{ description }}</textarea>
                 <label class="label-edit">Links</label>
                     <input type="text" name="links" value="{{ links }}">
                 <label class="label-edit">Image</label>
                     <input type="file" name="image" value="{{ img }}"> 
                 <label class="label-edit">NotableCharacters</label>
                     <input type="text" name="notableCharacters" value="{{ notableCharacters }}">

                   <button type="submit" class="update-edit">Update Event</button>
                   <button type="button" class="discard-edit" onclick="window.location='/events/event-archive'">Discard</button>
             </form>
</body>
