
    <div class="background-container">
   <div class="createhbs">
        <h1 style="color: rgb(2, 8, 2);">Edit Historical Event</h1>
              <form action="/events/{{ id }}/edit" method="POST" enctype="multipart/form-data">
 
                 <label class="label">Title</label>
                     <input type="text" name="title" value="{{ title }}">
                 <label class="label">Date</label>
                     <input type="date" name="date" value="{{ date }}" >
                 <label class="label">Location</label>
                     <input type="text" name="location" value="{{ location }}">
                 <label class="label">Description</label>
                     <input type="text" name="description" value="{{ description }}">
                 <label class="label">Links</label>
                     <input type="text" name="links" value="{{ links }}">
                 <label class="label">Image</label>
                     <input type="file" name="image" value="{{ img }}"> 
                 <label class="label">NotableCharacters</label>
                     <input type="text" name="notableCharacters" value="{{ notableCharacters }}">

                   <button type="submit">Update Event</button>
                   <button type="button" onclick="window.location='/events/event-archive'">Discard</button>
             </form>
