<h1>{{ event.title }}</h1>

<p>
  {{ event.description }}
</p>

<img src="{{ event.image }}" alt="imagen">
<hr>
    <p> 
    Created by: {{ creator.username }} 
    </p>
<hr>

<a href="/events/{{ event._id }}/delete">Delete</a> | <a href="/events/{{ event._id }}/edit">Edit</a> | <a href="/events/event-archive">Back</a>
