<body class="bodyArchive-archive">
  <div class="events-container-archive">
    <nav class="user-navigation-archive">
      <ul>
        <li>
          <a href="/users/profile">Back to your profile</a>  |  <a href="/events/event-create">Create new Event</a>
        </li>
      </ul>
    </nav>
    <h1 class="archive">All Events here!</h1>
    <div class="event-cards-container-archive">
      {{#each events}}
        <div class="event-card-archive">
          <a href="/events/{{ id }}">
            <div class="event-card-image-archive" style="background-image: url('{{ image }}');"></div>
            <div class="event-card-title-archive">
              {{ title }}
            </div>
            <div class="event-card-creator-archive">
              Created by: {{ creator.username }}
            </div>
            <div class="event-card-rating-archive">
              Rating: {{ calculateAverageRating this.ratings }}
            </div>
            <div class="event-card-comments-archive">
              Comments: {{ this.comments.length }}
            </div>
          </a>
        </div>
      {{/each}}
    </div>
    <a href="/events/event-archive" id="back-to-top" title="Go to Top">&#9650; Top</a>

  </div>
  <script src="/js/rating.js"></script>

</body>

{{!-- <script src="/config/helpers.js"></script> --}}








