<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="tu-archivo-de-estilos.css"> -->
  <style>
    body {
        background-image: url('/images/first.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #user {
      background-image: url('/images/user-background.jpg');
      background-size: cover;
      background-position: center;
        background-attachment: fixed;
      color: rgb(12, 9, 9);
      padding: 20px;
      border-radius: 10px;
      margin-top: 50px;
    }

    .user-navigation {
      margin-top: 20px;
    }
    .container {
      padding-top: 100px;
    }
  </style>
</head>
<body>

<div class="container">
  <div id="user" class="text-center">
    <h1 class="display-4">¡Wellcome, {{ user.username }}!</h1>

    <nav class="user-navigation">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/users/editprofile">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/event-archive">All events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/event-create">Create New Event</a>
        </li>
        <form action="/auth/logout" method="POST">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </ul>
    </nav>
    <div class="row">
            <div class="col-md-8">
                <!-- Detalles del perfil -->
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
  </div>

</div>
            <div class="col-md-4">
                <!-- Imagen de perfil -->
                {{#if user.profileImage}}
                <img src="{{user.profileImage}}" alt="Profile Image" class="img-fluid profile-image">
            {{else}}
                <img src="/images/user-default.png" alt="Default Profile Image" class="img-fluid profile-image">
            {{/if}}
            </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>





