<div id="user">
  <h1>Bienvenido!</h1>

  <form action="/auth/logout" method="POST">
    <button type="submit" id="closeuserbtn">Cerrar Sesión</button>
  </form>

  <nav class="user-navigation">
    <ul>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="/events/event-archive">All Events</a>
      </li>
      <li>
        <a href="/events/event-create">Create new Event</a>
      </li>
    </ul>
  </nav>
</div>





{{!-- {{#content "main"}}
  <div class="user-profile-container">
    <div class="profile-header">
      {{#if currentUser}}
        <h2>Bienvenido, {{currentUser.username}}!</h2>
        <img src="{{currentUser.profileImageURL}}" alt="Foto de perfil" class="profile-image" />
      {{else}}
        <h2>Bienvenido</h2>
        <img src="/images/default-profile-image.jpg" alt="Foto de perfil por defecto" class="profile-image" />
      {{/if}}
    </div>
    <div class="profile-info">
      <div class="profile-card">
        <h3>Tus Estadísticas</h3>
        <p>Eventos publicados: {{currentUser.publishedEventsCount}}</p>
        <p>Eventos evaluados: {{currentUser.evaluatedEventsCount}}</p>
        <p>Total de estrellas recibidas: {{currentUser.totalStarsReceived}}</p>
      </div>
    </div>
  </div>
{{/content}} --}}